<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
</head>
<body>
    
    {%for i in users%}
        <p>{{i.name}}</p>
    {%endfor%}
    
    <!-- {% for i in range(1,users.pages+1)%}
        <a href="{{i}}">{{i}}</a>
    {%endfor%} -->
    {% for i in users.iter_pages() %}
        {% if i %}
                <!-- <a href="{{ i }}">{{ i }}</a> -->
                <a href="{{ url_for('getusers', page_num=i) }}">{{ i }}</a> 
                <!-- # Provide the endpoint function name and the page number as a parameter -->
        {% else %}
            ...
        {% endif %}
    {% endfor %}


</body>
</html>