

body {
    margin: 0;
    font-family: sans-serif;
    background-color: blanchedalmond;
}

/* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
}

