{% extends 'base.html' %}




{% block head %}
<title>Task Master</title>
{% endblock  %}



{% block body %}

<div class="content">
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">update</a>
            </td>
        </tr>
    </table>

    <form action="/" method="post">
        <input type="text" name="task" id="task" placeholder="Enter task">
        <input type="submit" value="Add task">
    </form>



</div>


{% endblock  %}

